[v-cloak] {
  display: none;
}

.content-ui-data-loading tr {
  opacity: 0.25;
}

.content-ui-data-loading .content-ui-placeholder {
  opacity: 1;
}

.content-ui-filters .form-item {
  display: inline-block;
  margin: .1em .9em .1em .1em;
  max-width: 30%;
}

.content-ui-filters .form-actions {
  padding: 3ex 0 0;
  vertical-align: top;
}

.content-ui-enter-active tr,
.content-ui-leave-active tr {
  transition: all .55s ease;
}

.admin-content-ui .icon {
  background: no-repeat center;
  width: 16px;
}

