<div id="content-ui-app" v-cloak></div>
{% verbatim %}
<template id="content-ui-list">
  <div>
    <details class="content-ui-filters" open>
      <summary v-t>Filter content</summary>
      <div class="details-wrapper">
        <div class="form-item">
          <label for="edit-type">Title</label>
          <input v-model="title" placeholder="Title contains" @change="filter">
        </div>
        <div class="form-item" v-if="typeOptions.length">
          <label for="edit-type">Type</label>
          <select multiple="multiple" id="edit-type" class="form-select" v-model="type" @change="filter">
            <option v-for="(label, value) in typeOptions" :key="value" :value="label">{{ label }}</option>
          </select>
        </div>
        <div class="form-item" v-if="statusOptions.length">
          <label for="edit-status">Status</label>
          <select id="edit-status" class="form-select" v-model="status" @change="filter">
            <option value="0">Unpublished</option>
            <option value="1">Published</option>
          </select>
        </div>
        <div class="form-item form-actions" v-show="$route.query.type || $route.query.status">
          <button class="button" @click="reset" v-t>Reset</button>
        </div>
      </div>
    </details>
    <table class="admin-content-ui">
      <thead>
        <tr>
          <th class="priority-medium" :class="activeClass('title')">Title</th>
          <th class="priority-medium" :class="activeClass('type')">Type</th>
          <th class="priority-medium" :class="activeClass('type')">Status</th>
          <th class="priority-low" :class="activeClass('date')">
            <router-link :to="createdPath"><span v-t>Created</span>
              <table-sort-indicator :order="'created'" :default="true"></table-sort-indicator>
            </router-link>
          </th>
          <th class="priority-low" :class="activeClass('date')">
            <router-link :to="updatedPath"><span v-t>Updated</span>
              <table-sort-indicator :order="'updated'" :default="true"></table-sort-indicator>
            </router-link>
          </th>
          <th class="priority-medium" :class="activeClass('user')">Author</th>
          <th class="priority-low" v-t>Operations</th>
        </tr>
      </thead>
        <transition name="content-ui">
          <tbody :class="{'content-ui-data-loading' : loading}">
        <tr v-for="node in content" :key="node.id">
            <td class="priority-medium">
              <a :href="node.node.url" v-html="node.node.title">{{ node.node.title }}</a>
            </td>
            <td class="priority-medium">{{ node.type }}</td>
            <td class="priority-medium">{{ node.status }}</td>
            <td class="priority-low">{{ node.created }}</td>
            <td class="priority-low">{{ node.updated }}</td>
            <td class="priority-medium"  v-if="node.user.url">
              <a :href="node.user.url" v-html="node.user.name"></a>
            </td>
            <td class="priority-medium" v-else v-html="node.user.name"></td>
            <td class="priority-low">
              <a :href="node.node.edit">Edit</a>
              <br>
              <a :href="node.node.delete">Delete</a>
            </td>
        </tr>
        <tr v-if="!content.length" class="content-ui-placeholder">
          <td colspan="6" v-if="loading">Loading...</td>
          <td colspan="6" v-else>No log messages available.</td>
        </tr>
      </tbody>
        </transition>
    </table>
    <pager :total="totalPages" @click="updateData('type')"></pager>
  </div>
</template>

<template id="content-ui-table-sort-indicator">
  <span v-if="show" :class="sortClass">
    <span v-if="sort == 'desc'" class="visually-hidden">Sort ascending</span>
    <span v-else class="visually-hidden">Sort descending</span>
  </span>
</template>

{% endverbatim %}
